body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.slidesdp{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.sdp{
     width: 100%;
    height: 400px;
    display: none;
    padding: 130px 40px 0 40px;
    text-align: center;
    background-size: 100% !important;
    background-position: cover;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
